In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)    #Output Layer: Use linear activation function f(y) = y
])

# Compiler the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics = ['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\tyagi\Desktop\Work\ML\Churn-Classification\churn\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\tyagi\Desktop\Work\ML\Churn-Classification\churn\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 100380.9062 - mae: 100380.9062 - val_loss: 98534.3125 - val_mae: 98534.3125
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99716.8672 - mae: 99716.8672 - val_loss: 97207.2812 - val_mae: 97207.2812
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 97415.7266 - mae: 97415.7266 - val_loss: 93829.4531 - val_mae: 93829.4531
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 92831.2734 - mae: 92831.2734 - val_loss: 88059.0312 - val_mae: 88059.0312
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 86032.2969 - mae: 86032.2969 - val_loss: 80460.8516 - val_mae: 80460.8516
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 77753.3047 - mae: 77753.3047 - val_loss: 72048.0469 - val_mae: 72048.0469
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 69256.0000 - mae: 69256.0000 - val_loss: 64284.1016 - val_mae: 64284.1016
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 61848.7734 - mae: 61848.7734 - val_loss: 58153.2930 - val_mae: 58153.2930
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 56501.7070 - mae: 56501.7070 - val_loss: 54119.9414 - val_mae: 54119.9414
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 53222.4844 - mae: 53222.4844 - val_loss: 52015.4141 - val_mae: 52015.4141
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 51567.3555 - mae: 51567.3555 - val_loss: 51118.7383 - val_mae: 51118.7383
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50832.1289 - mae: 50832.1289 - val_loss: 50797.5703 - val_mae: 50797.5703
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50529.7734 - mae: 50529.7734 - val_loss: 50650.3125 - val_mae: 50650.3125
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50385.8398 - mae: 50385.8398 - val_loss: 50582.5156 - val_mae: 50582.5156
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50301.6953 - mae: 50301.6953 - val_loss: 50539.1406 - val_mae: 50539.1406
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50239.6523 - mae: 50239.6523 - val_loss: 50499.6367 - val_mae: 50499.6367
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50187.7891 - mae: 50187.7891 - val_loss: 50464.3281 - val_mae: 50464.3281
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50137.3008 - mae: 50137.3008 - val_loss: 50434.9961 - val_mae: 50434.9961
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 50094.3594 - mae: 50094.3594 - val_loss: 50410.8555 - val_mae: 50410.8555
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50055.6172 - mae: 50055.6172 - val_loss: 50382.5625 - val_mae: 50382.5625
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 50015.8281 - mae: 50015.8281 - val_loss: 50354.8203 - val_mae: 50354.8203
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49985.1484 - mae: 49985.1484 - val_loss: 50334.7773 - val_mae: 50334.7773
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49953.0156 - mae: 49953.0156 - val_loss: 50321.1328 - val_mae: 50321.1328
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49923.0938 - mae: 49923.0938 - val_loss: 50302.8438 - val_mae: 50302.8438
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49894.3320 - mae: 49894.3320 - val_loss: 50295.0586 - val_mae: 50295.0586
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49867.3203 - mae: 49867.3203 - val_loss: 50281.2305 - val_mae: 50281.2305
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49845.5391 - mae: 49845.5391 - val_loss: 50275.8867 - val_mae: 50275.8867
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49821.9375 - mae: 49821.9375 - val_loss: 50261.4570 - val_mae: 50261.4570
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49802.8281 - mae: 49802.8281 - val_loss: 50251.3125 - val_mae: 50251.3125
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49783.1406 - mae: 49783.1406 - val_loss: 50247.4102 - val_mae: 50247.4102
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49766.8359 - mae: 49766.8359 - val_loss: 50237.3672 - val_mae: 50237.3672
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49748.6055 - mae: 49748.6055 - val_loss: 50231.0117 - val_mae: 50231.0117
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49731.3516 - mae: 49731.3516 - val_loss: 50224.4297 - val_mae: 50224.4297
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49715.1562 - mae: 49715.1562 - val_loss: 50225.9023 - val_mae: 50225.9023
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49701.3555 - mae: 49701.3555 - val_loss: 50210.9648 - val_mae: 50210.9648
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49689.3516 - mae: 49689.3516 - val_loss: 50203.3750 - val_mae: 50203.3750
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49675.9453 - mae: 49675.9453 - val_loss: 50192.0547 - val_mae: 50192.0547
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.3984 - mae: 49663.3984 - val_loss: 50185.9492 - val_mae: 50185.9492
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49652.1680 - mae: 49652.1680 - val_loss: 50185.8320 - val_mae: 50185.8320
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49642.0117 - mae: 49642.0117 - val_loss: 50173.7773 - val_mae: 50173.7773
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49629.9023 - mae: 49629.9023 - val_loss: 50165.0000 - val_mae: 50165.0000
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49618.6523 - mae: 49618.6523 - val_loss: 50161.5469 - val_mae: 50161.5469
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49609.1406 - mae: 49609.1406 - val_loss: 50160.4453 - val_mae: 50160.4453
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49598.3438 - mae: 49598.3438 - val_loss: 50163.1367 - val_mae: 50163.1367
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49591.4805 - mae: 49591.4805 - val_loss: 50164.9414 - val_mae: 50164.9414
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49581.6250 - mae: 49581.6250 - val_loss: 50165.0977 - val_mae: 50165.0977
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49574.1562 - mae: 49574.1562 - val_loss: 50160.0625 - val_mae: 50160.0625
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49565.1211 - mae: 49565.1211 - val_loss: 50162.1133 - val_mae: 50162.1133
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49556.9414 - mae: 49556.9414 - val_loss: 50162.8672 - val_mae: 50162.8672
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49550.2812 - mae: 49550.2812 - val_loss: 50163.8320 - val_mae: 50163.8320
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49543.9414 - mae: 49543.9414 - val_loss: 50169.4023 - val_mae: 50169.4023
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49531.9023 - mae: 49531.9023 - val_loss: 50160.5117 - val_mae: 50160.5117
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49525.7188 - mae: 49525.7188 - val_loss: 50167.2266 - val_mae: 50167.2266
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49520.8281 - mae: 49520.8281 - val_loss: 50166.3164 - val_mae: 50166.3164
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49514.2109 - mae: 49514.2109 - val_loss: 50172.8711 - val_mae: 50172.8711
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49507.7656 - mae: 49507.7656 - val_loss: 50180.0508 - val_mae: 50180.0508
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49499.8359 - mae: 49499.8359 - val_loss: 50169.3516 - val_mae: 50169.3516

In [18]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 21900), started 0:00:14 ago. (Use '!kill 21900' to kill it.)

## Model Evaluation

In [21]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 974us/step - loss: 50160.0625 - mae: 50160.0625
Test MAE: 50160.0625

In [22]:
model.save('regression_model.h5')

c:\Users\tyagi\Desktop\Work\ML\Churn-Classification\churn\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(